* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

#nav a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin-right: 30px;
}

#nav {
  padding: 10px 30px;
}

#main h1 {
}
