* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

h1 {
  font-size: 200px;
  background: url(https://i.pinimg.com/originals/14/e9/c1/14e9c1fa08891b41f23b7cdd02904c0e.gif);
  background-clip: text;
  background-size: cover;
  color: transparent;
  display: flex;
  justify-content: center;
}
