#heading {
  background-color: royalblue;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  font-size: 50px;
}

#desc {
  color: white;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 5px;
  letter-spacing: 0.5px;
}

#about {
  background-color: aquamarine;
  width: 1200px;
  border-radius: 8px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

#me {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

#bio {
  font-family: Arial, Helvetica, sans-serif;
}
#education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  padding: 20px;
  margin: 20px auto;
  width: 1200px;
  border-radius: 10px;
}

#edu-head {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  margin: 5px;
  padding: 10px;
}

#degree {
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
  border-radius: 5px;
  width: 600px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  width: 1200px;
  height: 300px;
  padding: 20px;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

#skill-heading {
  font-weight: 800;
  text-transform: uppercase;
}

#kaam {
  background-color: blueviolet;
  border-radius: 5px;
  width: 600px;
  height: 44px;
  margin: 5px;
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px auto;
  background-color: royalblue;
  height: 250px;
  width: 1200px;
  border-radius: 10px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
#project-heading {
  font-weight: 800;
  text-transform: uppercase;
  margin: 5px;
}

#prop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  color: black;
  width: 600px;
  height: 40px;
  border-radius: 5px;
  margin: 5px;
}

#contact-box {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 250px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

#contact-me {
  font-weight: 800;
  text-transform: uppercase;
}

#info {
  background-color: violet;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 50px;
  margin: 5px;
  color: aliceblue;
  border-radius: 8px;
}

#credit {
  background-color: rgb(255, 76, 76);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
