body {
  background-image: url("https://plus.unsplash.com/premium_photo-1712685912272-96569030d1d7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1175");
  background-size: cover;
  background-position: center;
}

#heading {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 300px;
  color: rgb(255, 187, 0);
}

button {
  background-color: salmon;
  padding: 6px 25px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

#link {
  text-decoration: none;
}
