* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#homepage {
  display: flex;
  flex-direction: column;
}

#nav {
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr;
  grid-template-rows: 80px;
  grid-template-areas: "logo content cta";
  margin-top: 15px;
}

#Logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Logo img {
  height: 40px;
  width: auto;
}

#Content {
  grid-area: content;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

#Content a {
  text-decoration: none;
  color: black;
}

#cta {
  grid-area: cta;
  display: flex;
  justify-content: center;
  padding-left: 80px;
  gap: 10px;
  align-items: center;
}

#signup {
  padding: 12px 25px;
  border-radius: 25px;
  background-color: white;
  color: rgb(9, 108, 255);
  border: 2px solid rgb(9, 108, 255);
}

#started {
  padding: 12px 35px;
  border-radius: 25px;
  background-color: rgb(9, 108, 255);
  color: aliceblue;
  border: none;
}

#hero {
  display: grid;
  width: 95%;
  height: 950px;
  border-radius: 25px;
  margin: 30px auto;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 225px 1fr;
  grid-template-areas:
    "About parah"
    "img img ";
  background-color: #f6f7f9;
}

#firm {
  grid-area: About;
  font-size: 40pt;
  display: flex;
  justify-content: center;
  padding-top: 65px;
}

#aboutfirm {
  grid-area: parah;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  gap: 20px;
  padding-top: 40px;
}

#img {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btmimg {
  max-width: 95%;
  height: auto;
  border-radius: 25px;
}

#firmparaghraph {
  font-weight: light;
  font-size: 17.5px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.32;
}

#buttons {
  display: flex;
  gap: 30px;
}

#getstarted {
  padding: 18px 45px;
  border-radius: 45px;
  background-color: rgb(9, 108, 255);
  color: #f6f7f9;
  border: none;
  font-size: 17px;
}

#freetrail {
  padding: 16px 45px;
  border-radius: 50px;
  background-color: #f6f7f9;
  color: rgb(9, 108, 255);
  border: 2px solid rgb(9, 108, 255);
  font-size: 17px;
}

#stats {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  gap: 50px;
}

#stats h1 {
  font-size: 70px;
  font-weight: lighter;
}

#stats p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  font-weight: lighter;
  color: #9b9b9b;
}

#stats1,
#stats2,
#stats3,
#stats4 {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 200px;
}

#about {
  width: 95%;
  height: 725px;
  background-color: #f6f7f9;
  border-radius: 35px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "Aboutus aboutImg"
    "parah aboutImg ";
}

#Aboutus {
  grid-area: Aboutus;
  display: flex;
  align-items: end;
  padding-left: 50px;
}

#Aboutus p {
  border: 2px solid rgb(0, 0, 0);
  padding: 8px 30px;
  border-radius: 50px;
  font-size: 20px;
}

#parah {
  grid-area: parah;
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: end;
}

#parah h1 {
  font-weight: 200;
  font-size: 44px;
  letter-spacing: -1px;
}

#parah p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.3px;
  padding-right: 20px;
}

#aboutImg {
  grid-area: aboutImg;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rightimg {
  max-width: 90%;
  height: auto;
  border-radius: 25px;
}

#expertise {
  width: 95%;
  height: 1400px;
  background-color: aquamarine;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    "Heading SubHeading"
    "Teamemeber Teamemeber";
}

#expertiseHeading {
  grid-area: Heading;
  background-color: crimson;
}

#expertiseSubHeading {
  grid-area: SubHeading;
  background-color: rgb(111, 207, 46);
}

#TeamMember {
  grid-area: Teamemeber;
  background-color: rgb(220, 97, 20);
}

#image {
  position: relative;
  width: 325px;
  height: 450px;
}

#image img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

#Designatation {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 20px;
}

#Designatation h2 {
  font-size: 24px;
  font-weight: 550;
  letter-spacing: -0.5px;
}

#Designatation p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

#Card1 {
  width: 325px;
  height: 450px;
  border-radius: 25px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  color: white;
}

.name {
  font-size: 24px;
  font-weight: 550;
  letter-spacing: -0.5px;
}

.post {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.aboutAlice {
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

.SocialMediaIcons {
}
